In [1]:
import numpy as np
import pandas as pd
from fbprophet import Prophet

In [2]:
train=pd.read_csv("../data/train.csv",low_memory=False)
store=pd.read_csv("../data/store.csv",low_memory=False)

train_store=pd.merge(train,store,how='inner',on='Store')
train_store = train_store[(train_store['Open']!=0)&(train_store['Sales']!=0)]
train_store.fillna(0,inplace=True)

In [3]:
#sales for store types

s_type='a'
train_store['Date']=pd.to_datetime(train_store['Date'])
sales = train_store[train_store['StoreType']==s_type].loc[:,['Date','Sales']]
sales.sort_values('Date')
sales.set_index('Date')

            Sales
Date
2015-07-31   6064
2015-07-30   5567
2015-07-29   6402
2015-07-28   5671
2015-07-27   6627
...           ...
2013-01-07  21237
2013-01-05  18856
2013-01-04  18371
2013-01-03  18463
2013-01-02  20642

[457042 rows x 1 columns]

In [18]:
sales.rename(columns={'Date':'ds','Sales':'y'},inplace=True)
sales.sample()

               ds      y
355949 2013-01-23  11323

**Model Holidays**
* Create holidays dataframe

In [19]:
state_dates = train_store[(train_store.StateHoliday == 'a') | (train_store.StateHoliday == 'b') & (train_store.StateHoliday == 'c')].loc[:, 'Date'].values
school_dates = train_store[train_store.SchoolHoliday == 1].loc[:, 'Date'].values

state_holiday = pd.DataFrame({'ds': pd.to_datetime(state_dates),'holiday': 'state_holiday'})
school_holiday = pd.DataFrame({'ds': pd.to_datetime(school_dates),'holiday': 'state_holiday'})

df = pd.concat((state_holiday, school_holiday))
df.sample()

              ds        holiday
77019 2014-07-21  state_holiday

**Forecast 6 weeks into the future**

In [ ]:
model = Prophet(holidays = df)
model.fit(sales)
#6weeks = 42 days
dates= model.make_future_dataframe(periods = 42)
forecast = model.predict(dates)
forecast.head(10)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.