In [1]:
import numpy as np
import pandas as pd
from fbprophet import Prophet

In [2]:
train=pd.read_csv("../data/train.csv",low_memory=False)
store=pd.read_csv("../data/store.csv",low_memory=False)

train_store=pd.merge(train,store,how='inner',on='Store')
train_store = train_store[(train_store['Open']!=0)&(train_store['Sales']!=0)]
train_store.fillna(0,inplace=True)

In [3]:
#sales for store types

s_type='a'
train_store['Date']=pd.to_datetime(train_store['Date'])
sales = train_store[train_store['StoreType']==s_type].loc[:,['Date','Sales']]
sales.sort_values('Date')
sales.set_index('Date')

            Sales
Date
2015-07-31   6064
2015-07-30   5567
2015-07-29   6402
2015-07-28   5671
2015-07-27   6627
...           ...
2013-01-07  21237
2013-01-05  18856
2013-01-04  18371
2013-01-03  18463
2013-01-02  20642

[457042 rows x 1 columns]

In [18]:
sales.rename(columns={'Date':'ds','Sales':'y'},inplace=True)
sales.sample()

               ds      y
355949 2013-01-23  11323

**Model Holidays**
* Create holidays dataframe

In [19]:
state_dates = train_store[(train_store.StateHoliday == 'a') | (train_store.StateHoliday == 'b') & (train_store.StateHoliday == 'c')].loc[:, 'Date'].values
school_dates = train_store[train_store.SchoolHoliday == 1].loc[:, 'Date'].values

state_holiday = pd.DataFrame({'ds': pd.to_datetime(state_dates),'holiday': 'state_holiday'})
school_holiday = pd.DataFrame({'ds': pd.to_datetime(school_dates),'holiday': 'state_holiday'})

df = pd.concat((state_holiday, school_holiday))
df.sample()

              ds        holiday
77019 2014-07-21  state_holiday

**Forecast 6 weeks into the future**

In [21]:
model = Prophet(holidays = df)
model.fit(sales)
#6weeks = 42 days
dates= model.make_future_dataframe(periods = 42)
forecast = model.predict(dates)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,holidays,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2013-01-01,5909.255691,2990.739355,11505.156998,5909.255691,5909.255691,1443.492110,1443.492110,1443.492110,540.670979,...,855.275588,855.275588,855.275588,47.545542,47.545542,47.545542,0.0,0.0,0.0,7352.747801
1,2013-01-02,5912.713134,2691.614438,10849.323248,5912.713134,5912.713134,890.958999,890.958999,890.958999,540.670979,...,407.877993,407.877993,407.877993,-57.589973,-57.589973,-57.589973,0.0,0.0,0.0,6803.672133
2,2013-01-03,5916.170576,2653.858697,10743.989113,5916.170576,5916.170576,812.133968,812.133968,812.133968,540.670979,...,422.729741,422.729741,422.729741,-151.266753,-151.266753,-151.266753,0.0,0.0,0.0,6728.304543
3,2013-01-04,5919.628018,2774.978869,10999.425395,5919.628018,5919.628018,864.376133,864.376133,864.376133,540.670979,...,556.608187,556.608187,556.608187,-232.903033,-232.903033,-232.903033,0.0,0.0,0.0,6784.004151
4,2013-01-05,5923.085460,1564.536500,8769.358899,5923.085460,5923.085460,-622.527236,-622.527236,-622.527236,540.670979,...,-861.015601,-861.015601,-861.015601,-302.182614,-302.182614,-302.182614,0.0,0.0,0.0,5300.558224
5,2013-01-06,5926.542903,-1527.965839,6427.891682,5926.542903,5926.542903,-3114.669247,-3114.669247,-3114.669247,540.670979,...,-3296.289484,-3296.289484,-3296.289484,-359.050742,-359.050742,-359.050742,0.0,0.0,0.0,2811.873656
6,2013-01-07,5930.000345,3922.441701,12175.895609,5930.000345,5930.000345,2051.780584,2051.780584,2051.780584,540.670979,...,1914.813576,1914.813576,1914.813576,-403.703971,-403.703971,-403.703971,0.0,0.0,0.0,7981.780929
7,2013-01-08,5933.457787,3070.987814,10987.657741,5933.457787,5933.457787,959.372122,959.372122,959.372122,540.670979,...,855.275588,855.275588,855.275588,-436.574445,-436.574445,-436.574445,0.0,0.0,0.0,6892.829910
8,2013-01-09,5936.915230,2718.976067,10232.542134,5936.915230,5936.915230,490.239808,490.239808,490.239808,540.670979,...,407.877993,407.877993,407.877993,-458.309164,-458.309164,-458.309164,0.0,0.0,0.0,6427.155037
9,2013-01-10,5940.372672,2359.498129,10090.529545,5940.372672,5940.372672,493.655793,493.655793,493.655793,540.670979,...,422.729741,422.729741,422.729741,-469.744927,-469.744927,-469.744927,0.0,0.0,0.0,6434.028465

In [22]:
forecast.tail(10)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,holidays,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
948,2015-09-02,6220.772128,2271.003814,9787.560340,6160.116765,6286.876768,-205.771367,-205.771367,-205.771367,0.0,...,407.877993,407.877993,407.877993,-613.649360,-613.649360,-613.649360,0.0,0.0,0.0,6015.000761
949,2015-09-03,6220.389747,2062.593168,10021.177822,6154.359036,6289.599704,-213.889158,-213.889158,-213.889158,0.0,...,422.729741,422.729741,422.729741,-636.618900,-636.618900,-636.618900,0.0,0.0,0.0,6006.500588
950,2015-09-04,6220.007366,1756.982701,9931.177388,6148.727263,6292.580256,-97.292599,-97.292599,-97.292599,0.0,...,556.608187,556.608187,556.608187,-653.900786,-653.900786,-653.900786,0.0,0.0,0.0,6122.714767
951,2015-09-05,6219.624985,895.218258,8507.797001,6144.695692,6296.422090,-1525.720986,-1525.720986,-1525.720986,0.0,...,-861.015601,-861.015601,-861.015601,-664.705384,-664.705384,-664.705384,0.0,0.0,0.0,4693.903999
952,2015-09-06,6219.242604,-1571.343046,6052.277513,6137.861993,6300.413934,-3964.670593,-3964.670593,-3964.670593,0.0,...,-3296.289484,-3296.289484,-3296.289484,-668.381109,-668.381109,-668.381109,0.0,0.0,0.0,2254.572011
953,2015-09-07,6218.860223,3485.733879,11580.216637,6130.684530,6303.814617,1250.375755,1250.375755,1250.375755,0.0,...,1914.813576,1914.813576,1914.813576,-664.437820,-664.437820,-664.437820,0.0,0.0,0.0,7469.235978
954,2015-09-08,6218.477842,2686.900496,10379.333992,6127.567043,6307.643303,202.709257,202.709257,202.709257,0.0,...,855.275588,855.275588,855.275588,-652.566331,-652.566331,-652.566331,0.0,0.0,0.0,6421.187099
955,2015-09-09,6218.095461,2112.123612,10234.874245,6123.861177,6310.809622,-224.775369,-224.775369,-224.775369,0.0,...,407.877993,407.877993,407.877993,-632.653362,-632.653362,-632.653362,0.0,0.0,0.0,5993.320092
956,2015-09-10,6217.713080,2141.323573,9966.429195,6121.511619,6313.544693,-182.061684,-182.061684,-182.061684,0.0,...,422.729741,422.729741,422.729741,-604.791425,-604.791425,-604.791425,0.0,0.0,0.0,6035.651396
957,2015-09-11,6217.330699,2248.559433,10023.270699,6116.048028,6315.028906,-12.675043,-12.675043,-12.675043,0.0,...,556.608187,556.608187,556.608187,-569.283230,-569.283230,-569.283230,0.0,0.0,0.0,6204.655656